@page "/tictactoe"
@rendermode InteractiveServer

<PageTitle>Tic-Tac-Toe</PageTitle>

<h3>Tic-Tac-Toe</h3>

<button class="btn btn-primary disabled">Player vs Player</button>
<!--<button class="btn btn-primary disabled">Player vs AI</button>-->
<button class="btn btn-danger" @onclick="RestartBoard">Restart</button>

<br />
<br />
<br />
<br />


<button class="btn @currentBoardData[0,0].color @currentBoardData[0,0].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[0, 0])">@currentBoardData[0, 0].text  </button>
<button class="btn @currentBoardData[0,1].color @currentBoardData[0,1].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[0, 1])"> @currentBoardData[0, 1].text </button>
<button class="btn @currentBoardData[0,2].color @currentBoardData[0,2].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[0, 2])"> @currentBoardData[0, 2].text </button>
<br />
<br />
<button class="btn @currentBoardData[1,0].color @currentBoardData[1,0].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[1, 0])"> @currentBoardData[1, 0].text </button>
<button class="btn @currentBoardData[1,1].color @currentBoardData[1,1].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[1, 1])"> @currentBoardData[1, 1].text </button>
<button class="btn @currentBoardData[1,2].color @currentBoardData[1,2].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[1, 2])"> @currentBoardData[1, 2].text </button>
<br />
<br />
<button class="btn @currentBoardData[2,0].color @currentBoardData[2,0].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[2, 0])"> @currentBoardData[2, 0].text </button>
<button class="btn @currentBoardData[2,1].color @currentBoardData[2,1].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[2, 1])"> @currentBoardData[2, 1].text </button>
<button class="btn @currentBoardData[2,2].color @currentBoardData[2,2].disabled w-f50" @onclick="() => BoardCellOnClick(currentBoardData[2, 2])"> @currentBoardData[2, 2].text </button>


<script></script>

@code {
    // --- Data --- //

    CellState currentPlayer = CellState.CROSS;

    // Array to hold board data
    BoardCell[,] currentBoardData =
    {
        { new BoardCell(CellState.CROSS),
            new BoardCell(), 
            new BoardCell(CellState.CROSS)},
        { new BoardCell(), 
            new BoardCell(), 
            new BoardCell()},
        { new BoardCell(),
            new BoardCell(CellState.CROSS),
            new BoardCell(CellState.CROSS)}
    };


    // --- Functions --- //
    //Change player after an action
    public void ChangePlayer()
    {
        if (currentPlayer == CellState.CROSS)
        {
            currentPlayer = CellState.CIRCLE;
        }
        else
        {
            currentPlayer = CellState.CROSS;
        }
    }

    // Triggered when clicked on a cell
    public void BoardCellOnClick(BoardCell cell)
    {
        cell.ChangeState(currentPlayer);
        // Check win
        // Check board full
        ChangePlayer();
    }

    // Restart board settings to default
    public void RestartBoard()
    {
        foreach(BoardCell item in currentBoardData)
        {
            item.ChangeState(CellState.DEFAULT);
        }
    }

    public class BoardCell
    {
        public string text = "-";
        public string color = "btn-secondary";
        public string disabled = "";

        public BoardCell()
        {
            ;
        }
        public BoardCell(Enum cellState)
        {
            ChangeState(cellState);
        }

        // Changed button adequate to the state
        public void ChangeState(Enum cellState)
        {
            switch(cellState)
            {
                case CellState.DEFAULT:
                    text = "-";
                    color = "btn-secondary";
                    disabled = "";
                    break;
                case CellState.CIRCLE:
                    text = " o ";
                    color = "btn-success";
                    disabled = " disabled ";
                    break;
                case CellState.CROSS:
                    text = " x ";
                    color = " btn-danger ";
                    disabled = " disabled ";
                    break;
                case CellState.WIN:
                    color = " btn-warning ";
                    break;
            }
        }
    }

    public enum CellState
    {
        DEFAULT,
        CIRCLE,
        CROSS,
        WIN
    }
}
